@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Here at Bookworms Online, the concept of privacy does not exist. 
    the secuirty of this webiste was patched together by a incompetent programmer
    this website is held together by 
    a gallon of coffee,
    unethical amounts of ChatGPT, 
    organic freerange school resource copypasta,
    and some professionals advice to taste
    please do not trust this website for any reason what so ever
</p>
